.page{
    position: absolute;
}

.page-fade-enter {
    opacity: 0;
    transform: translateX(80px);
}

.page-fade-enter-active {
    opacity: 1;
    transform:translateX(0px);
    transition: opacity 400ms, transform 400ms;
}

.page-fade-exit {
    opacity: 1;
    transform: translateX(0px);
    transition: opacity 600ms, transform 600ms;
    
}

.page-fade-exit-active {
    opacity: 0;
    transform: translateX(-80px);
    
}
